.header
{
    border: rgba(0,0,0, 0.1) solid;
    border-width: 0 0 1px 0;
    padding: 1.25em 0;
    font-size: 18px;
}

@media screen and (min-width: 768px) {

    .header {
        padding: 4em 0 2.5em;
    }
}
