.layout {
    text-align: center;
}

.layout__col
{
    margin: auto;
}

@media screen and (min-width: 640px) {

    .layout
    {
        display: table;
    }

    .layout__col
    {
        display: table-cell;
    }

    .layout__col_left
    {
        text-align: left;
        vertical-align: bottom;
        min-width: 210px;
    }

    .layout__col_right
    {
        text-align: right;
        vertical-align: bottom;
    }
}
